/* Justifying means changing how elements are grouped and spaced on the main axis. To justify flex items, we use the justify-content property. */




.container {
    border: solid 2px #806868;
    display: flex;
   justify-content: flex-start;
   }
   
   .item {
    border: 2px solid #457081;
    margin: 10px;
   }